.navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    max-width: 75rem;
    z-index: 3;
}

/*
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
*/

.nav-item{
    margin: 1rem;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
}

.desktopMenuImg{
    object-fit: cover;
    height: 10rem;
    width: 1rem;
    margin: 1rem;
}

.nav-item:hover{  
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow ;
}

.manuBtn{
    background: rgb(189, 25, 28);
    color: whitesmoke;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 1rem;
    text-size-adjust: 1rem ;
}